body{
	-webkit-user-select:none;
	user-select: none;
}
.range-slider{
	display: inline-block;
	position: relative;
	margin-left:3em !important;
	margin-right:3em !important;
	direction: ltr;
	text-align: left;
}

.range-slider[data-type='horizontal']{
	line-height:30px;
	height:30px;
	background-color:#e7e7e7;
	position:relative;
	margin:2em 0;
	display:block;
	color:#aaa;
}

.range-slider[data-type='horizontal'] .dynamic-range{
	height:100%;
}

.range-slider[data-type='horizontal'] .dynamic-range .min{
	outline:none ;
	background:url(svg/Range.svg) no-repeat;
	position:absolute;
	left:-15px;
	top:-20px;
	width:30px;
	height:30px;
	-webkit-user-select:none;
	user-select: none;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.range-slider[data-type='horizontal'] .dynamic-range .max{
	outline:none;
	background:url(svg/Range2.svg) no-repeat;
	position:absolute;
	right:-15px;
	bottom:-17px;
	width:30px;
	height:30px;
	-webkit-user-select:none;
	user-select: none;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.range-slider[data-type='vertical']{
	height:300px;
	background-color:#e7e7e7;
	width:30px;
	margin-top: 50px;
}
.range-slider[data-type='vertical'] .dynamic-range{
	height:160px;
	background-color:#00667a;
	width:30px;
}

.range-slider[data-type='vertical'] .dynamic-range .min{
	outline:none;
	background:url(svg/Range2.svg) no-repeat;
	position:absolute;
	left:-17px;
	bottom:-15px;
	width:30px;
	height:30px;
	-webkit-user-select:none;
	user-select: none;
}

.range-slider[data-type='vertical'] .dynamic-range .max{
	outline:none;
	background:url(svg/Range.svg) no-repeat;
	position:absolute;
	right:-21px;
	top:-15px;
	width:30px;
	height:30px;
	-webkit-user-select:none;
	user-select: none;
}

.dynamic-range{
	position: relative;
	width: 50px;
	margin: 0;
	padding: 0;
	background-color:#00667a;
	float: left;
	display: inline-block;
}
.dynamic-margin{
	display: inline-block;
	float: left;
	/*background: red;*/
	margin: 0;
	padding: 0;
}
.range-slider[data-type='vertical']
{
	vertical-align: bottom;
}
.range-slider[data-type='horizontal'] .dynamic-margin{
	height: 100%;
	width: 100;
}

.range-slider[data-type='vertical'] .dynamic-margin{
	width: 100%;
	height: 20px;
}